<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Battleships</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://unpkg.com/papercss@1.4.1/dist/paper.min.css"/>
    <link href="css/battleships-brehuv-main.css" rel="stylesheet"/>
</head>

<body class="main-background">


<div id="top" class="row site">
    <div class="sm-6 md-6 col">
        <div class="paper">
            <div class="demo-title">
                <div class="row flex-center">
                    <h2><span class="badge warning">Your Board</span></h2>
                    <p th:utext='${webUI.renderSetupBoard()}'/>
                </div>
            </div>
        </div>
    </div>


    <div class="sm-3 md-3 col">
        <div class="paper">
            <div class="demo-title">
                <div class="row flex-center">
                    <h2><span class="badge secondary">List of ships</span></h2>
                    <button class="btn-block" onclick="location.href='?command=random'">Random</button>
                    <div class="margin"></div>
                    <button class="btn-block" onclick="location.href='?command=restart'">Restart</button>
                    <div class="margin"></div>
                    <button class="btn-block" onclick="location.href='?command=back'">Undo</button>

                    <p   th:utext='${webUI.orientationButtons()}'  />
                    <p th:utext='${webUI.renderShipsList()}'/>
                    <div class="margin"></div>
                    <button class="btn-block" href="/battleships-brehuv-singleplayer"><a href="/battleships-brehuv-singleplayer">Subbmit</a></button>
                </div>
            </div>
        </div>
    </div>

    <div class="sm-3 md-3 col">
        <div class="paper">
            <div class="demo-title">
                <div class="row flex-center">
                    <h2><span class="badge danger">SinglePlayer</span></h2>
                    <button class="btn-block" onclick="location.href='?command=begginer'">Begginer</button>
                    <div class="margin"></div>
                    <button class="btn-block" onclick="location.href='?command=medium'">Medium</button>
                    <div class="margin"></div>
                    <button class="btn-block" onclick="location.href='?command=hard'">Hard</button>
                    <div class="margin"></div>
                    <button class="btn-block" onclick="location.href='?command=expert'">Expert</button>
                    <div class="margin"></div>
                    <h2><span class="badge danger">MultiPlayer</span></h2>


                </div>
            </div>
        </div>
    </div>

</div>


<script>
    // var hori = localStorage.getItem("hori");
    //
    // if (hori !== true){
    //     document.getElementById("horiButton").classList.remove('disabled');
    //     document.getElementById("vertButton").classList.add('disabled');
    // }else{
    //     document.getElementById("horiButton").classList.add('disabled');
    //     document.getElementById("vertButton").classList.remove('disabled');
    // }
    //
    //
    //
    // document.getElementById("horiButton").addEventListener("click", function() {
    //     document.getElementById("horiButton").classList.remove('disabled');
    //     document.getElementById("vertButton").classList.add('disabled');
    //     var hori = true;
    //     localStorage.setItem("hori", hori);
    // });
    //
    //
    // document.getElementById("vertButton").addEventListener("click", function(){
    //     document.getElementById("horiButton").classList.add('disabled');
    //     document.getElementById("vertButton").classList.remove('disabled');
    //     var hori = false;
    //     localStorage.setItem("hori", hori);
    // });


</script>
</body>
</html>