<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Battleships</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://unpkg.com/papercss@1.4.1/dist/paper.min.css"/>
    <link href="css/battleships-brehuv-main.css" rel="stylesheet"/>
</head>

<body class="main-background">


<div id="top" class="row site">
    <div class="sm-6 md-6 col">
        <div class="paper">
            <div class="demo-title">
                <div class="row flex-center">
                    <h2><span class="badge secondary">Your Board</span></h2>
                    <p th:utext='${webUI.renderSetupBoard()}'/>
                </div>
            </div>
        </div>
    </div>


    <div class="sm-6 md-6 col">
        <div class="paper">
            <div class="demo-title">
                <div class="row flex-center">
                    <h2><span class="badge secondary">List of ships</span></h2>
                    <p th:utext='${webUI.renderShipsList()}'/>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>