<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bttleships</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"></link>
    <link href="css/battleships-brehuv-stars.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"></link>

</head>


<body background="images/battleships/brehuv/background.jpg">
<div>

    <main class="center">
        <div class="z-depth-3 y-depth-3 x-depth-3 grey lighten-4 row"
             style="display: inline-block; width: 50%;
            padding: 20px 2% 0px 2%; border: 1px; margin-top: 100px; ">
            <h1>Ratings</h1>

            <ol id="commentList"/>

            <p><a class="waves-effect waves-light blue btn" href="/battleships-brehuv-gamemenu">Back to menu</a></p>
            <br></br>
            <br></br>
            <br></br>
        </div>
    </main>

</div>


<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function () {
        $.ajax({
            url: "/rest/comment/battleships-brehuv",
        }).done(function (json) {
            for (var i = 0; i < json.length; i++) {
                var comment = json[i];
                $("#commentList").append($("<li>" + comment.player + "   " + comment.comment + "   " + comment.playedOn + "</li>"));
            }
        });
    });

    $(document).ready(function () {
        $('#example').DataTable({
            columns: [
                {data: "player"},
                {data: "comment"},
                {data: "commentedOn"}
            ],
            ajax: {url: "/rest/comment/battleships-brehuv", dataSrc: ''}
        });
    });
    //]]>
</script>

</body>
</html>