<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bttleships</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://unpkg.com/papercss@1.4.1/dist/paper.min.css"/>
    <link href="css/battleships-brehuv-main.css" rel="stylesheet"/>

</head>
<body class="main-background">
<div id="top" class="row site">
    <div class="sm-3 md-3 col">
        <div class="paper">
            <div class="demo-title">
                <div class="row flex-center">
                    <h2><span class="badge success">Comments</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="sm-6 md-6 col">
        <div class="paper">
            <div class="demo-title">
                <div class="row flex-center">
                    <h2><span class="badge secondary"> BattleShips</span></h2>
                    <a href="/battleships-brehuv-singleplayer-setup" class="acenter btn-block paper-btn">LetsPlay</a>
                    <div class="margin"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sm-3 md-3 col">
        <div class="paper">
            <div class="demo-title">
                <div class="row flex-center">
                    <h2><span class="badge success">Rating</span></h2>
                </div>
            </div>
        </div>
    </div>
</div>




<!--<p><a class="waves-effect waves-light blue btn" href="/battleships-brehuv-singleplayer">Singleplayer</a></p>-->


</body>
</html>