<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Bttleships</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://unpkg.com/papercss@1.4.1/dist/paper.min.css"/>
    <link href="css/battleships-brehuv-main.css" rel="stylesheet"/>
    <link href="css/battleships-brehuv-star.css" rel="stylesheet"/>

</head>

<body class="main-background">
<div id="top" class="row site">
    <div class="sm-3 md-3 col">
        <div class="paper">
            <div class="demo-title">
                <div class="row flex-center">
                    <h2><span class="badge secondary">Comments</span></h2>
                </div>

                <div class="row">
                    <form class="input-size" name="f" th:action="@{/battleships-brehuv-gamemenu}" method="post">
                        <input placeholder="Your comment" class="input-size" name="comment"/>
                        <div class="margin"/>
                        <button class="btn-block input-size" type="submit">Post</button>
                    </form>
                </div>

                <div class="row flex-center">
                    <p id="commentList"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="sm-6 md-6 col">
        <div class="paper">
            <div class="demo-title">
                <div class="row flex-center">
                    <h2><span class="badge success">BattleShips</span></h2>
                    <a href="/battleships-brehuv-singleplayer-setup"
                       class="center-centred btn-block paper-btn">LetsPlay</a>
                    <div class="margin"></div>
                </div>
                <div>
                    <h2 class="center-centred"><span class="badge warning">BestScores</span></h2>
                </div>
                <div class="row flex-center">
                    <table>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Points</th>
                            <th>Played on</th>
                        </tr>
                        </thead>
                        <tbody id="scoreList"/>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="sm-3 md-3 col">
        <div class="paper">
            <div class="demo-title">

                <div class="row flex-center">
                    <h2><span class="badge danger">Rating</span></h2>
                </div>

                <div class="row flex-center">
                    <div class="row">
                        <form id="outer-form" class="form-horizontal form" th:action="@{/battleships-brehuv-gamemenu}"
                              method="post">
                            <fieldset class="rating" th:action="@{/battleships-brehuv-gamemenu}" method="post">

                                <input type="radio" id="5star" name="rating" value="5"/>
                                <label class="full" for="5star" title="Excellent"></label>


                                <input type="radio" id="4star" name="rating" value="4"/>
                                <label class="full" for="4star" title="Pretty good"></label>


                                <input type="radio" id="3star" name="rating" value="3"/>
                                <label class="full" for="3star" title="Ok"></label>

                                <input type="radio" id="2star" name="rating" value="2"/>
                                <label class="full" for="2star" title="Bad"></label>


                                <input type="radio" id="1star" name="rating" value="1"/>
                                <label class="full" for="1star" title="Umm"></label>

                                <div class="margin"/>
                                <button class="btn-block" type="submit">Rate</button>

                            </fieldset>
                        </form>


                    </div>
                </div>

                <div class="row flex-center">
                    <h2><span class="badge danger">Average rating</span></h2>
                </div>

                <div class="row flex-center">
                    <div class="row">
                        <form id="outer-formAverage" class="form-horizontal form">
                            <fieldset class="rating">

                                <input type="radio" id="5starAverage" name="rating" value="5"/>
                                <label class="full" for="5starAverage" title="Excellent"></label>


                                <input type="radio" id="4starAverage" name="rating" value="4"/>
                                <label class="full" for="4starAverage" title="Pretty good"></label>


                                <input type="radio" id="3starAverage" name="rating" value="3"/>
                                <label class="full" for="3starAverage" title="Ok"></label>

                                <input type="radio" id="2starAverage" name="rating" value="2"/>
                                <label class="full" for="2starAverage" title="Bad"></label>


                                <input type="radio" id="1starAverage" name="rating" value="1"/>
                                <label class="full" for="1starAverage" title="Umm"></label>

                            </fieldset>
                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<!-- CommentScript -->
<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function () {
        $.ajax({
            url: "/rest/comment/battleships-brehuv",
        }).done(function (json) {
            for (var i = 0; i < json.length; i++) {
                var comment = json[i];

                $("#commentList").append($(
                    "<div class=\"mini-margin input-size row flex-spaces\">\n" +
                    "<div class=\"input-size alert \"><span class=\"badge secondary\">" + comment.player + "</span> : " + comment.comment + "</div>\n" +
                    "</div>\n"
                ));
                if (i === 4) break;
            }
        });
    });
    //]]>
</script>


<!-- ScoreScript -->
<script type="text/javascript">
    //<![CDATA[
    var scoreAr = [];
    $(document).ready(function () {
        $.ajax({
            url: "/rest/score/battleships-brehuv",
        }).done(function (json) {
            for (var i = 0; i < json.length; i++) {
                var score = json[i];
                scoreAr.push(json[i]);
            }
            var order  = 0;
            for (var i = json.length-1; i >= 0; i--) {
                $("#scoreList").append($("<tr><td>" + (order + 1) + "</td><td>" + scoreAr[i].player + "</td><td>" + scoreAr[i].points + "</td><td>" + milisToDate(scoreAr[i].playedOn) + "</td></tr>"));
                order++;
                if(order === 5) break;
            }
        });
    });

    //]]>

    function milisToDate(time) {
        var date = new Date(time);
        return date.getDay().toString() + "." + date.getMonth().toString() + "." + date.getFullYear().toString()
            + " (" + date.getHours().toString() + ":" + date.getMinutes().toString() + ")";
    }
</script>


<!-- RatingScript -->
<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function () {
        $.ajax({

            //todo: get user name from login
            url: "/rest/rating/battleships-brehuv/jakubbrehuv",

        }).done(function (json) {
            var score = json;
            document.getElementById(score + "star").checked = true;
        });
    });

    //]]>

    function milisToDate(time) {
        var date = new Date(time);
        return date.getDay().toString() + "." + date.getMonth().toString() + "." + date.getFullYear().toString()
            + " (" + date.getHours().toString() + ":" + date.getMinutes().toString() + ")";
    }
</script>


<!-- Average -->
<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function () {
        $.ajax({

            url: "/rest/rating/battleships-brehuv",

        }).done(function (json) {
            var score = json;
            document.getElementById(score + "starAverage").checked = true;
        });
    });

    //]]>

    function milisToDate(time) {
        var date = new Date(time);
        return date.getDay().toString() + "." + date.getMonth().toString() + "." + date.getFullYear().toString()
            + " (" + date.getHours().toString() + ":" + date.getMinutes().toString() + ")";
    }
</script>
</body>
</html>