<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Minesweeper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/css/stylesheet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css"
          href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"></link>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" >
            //<![CDATA[
        $(document).ready(function () {
            $.ajax({
                url: "/rest/score/battleships-brehuv",
            }).done(function (json) {
                for (var i = 0; i < json.length; i++) {
                    var score = json[i];
                    $("#scoreList").append($("<li>" + score.username + " " + score.points + " " + score.playedOn + "</li>"));
                }
            });
        });

        $(document).ready(function () {
            $('#example').DataTable({
                columns: [
                    {data: "player"},
                    {data: "points"},
                    {data: "playedOn"}
                ],
                ajax: {url: "/rest/score/battleships-brehuv", dataSrc: ''}
            });
        });
        //]]>
    </script>

</head>
<body>
    <p th:utext='${webUI.renderAsHtml()}' />
    <h2>Hall of fame</h2>
    <ol id="scoreList"/>
</body>
</html>