<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gamestudio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/gamestudio.css"/>
</head>
<body>


<table class="loginTable">
    <tr>
        <td>
            <div class="loginColumn">
                <h3 style="text-align: center">Log in</h3>

                <form id="loginForm" action="#" th:action="@{/login}" th:object="${user}" method="post">

                    <div class="label">Login:</div>
                    <input class="input login-input" name="username" th:field="*{username}"/>
                    <div class="label error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
                    <br/>

                    <div class="label">Password:</div>
                    <input class="input login-input" name="password" type="password" th:field="*{password}"/>
                    <div class="label error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                    <br/>

                    <div style="width: 100%; text-align: center">
                        <input class="buttons loginButton" type="submit" value="Log in"/>
                    </div>
                    <div class="register-link">
                        <a href="register" style="text-decoration:underline !important;">Or register</a>
                    </div>

                </form>
            </div>
        </td>

    </tr>
</table>

</body>
</html>